body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: grey;
    flex-direction: column;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: white;
    padding: 50px;
    margin-top: 300px;
    box-shadow:1px 1px 5px black;
}
.box input{
    width: 300px;
    padding: 5px;
    border-radius: 20px;
    border:1px solid grey;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 10px;
}
.box label{
    font-weight: bold;
}
.box h1{
    margin-bottom: 20px;
}
.box button{
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    
    background-color: grey;
    color: white;
    box-shadow:1px 1px 3px black;
 
}

.box button:active{
    background-color: dimgrey;
}

.box a{
    margin-top: 10px;
    Text-decoration: none;
}
